.container-paginate{
    padding: 50px 0px;
    background-color: black;
    width: 100%;
}
.pagination{
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    margin: 0px;
}
.page-link {
    background-color: #e50914 !important;
    color: black !important;
    margin-left: 8px;
    margin-right: 8px;
}
.page-link:hover {
    background-color: #e50914 !important;
    color: white !important;
}
.page-link.active{
    background-color: #e50914c9 !important;
    color: white !important;
    border-color: white !important;
}

@media(max-width: 600px){
    .page-link{
        margin: 1px !important;
        padding: 3px !important;
        font-size: 12px !important;
    }
}